<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail Operations</title>

    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <div>
        @RenderBody()
    </div>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
